.tab_switch .tab_btn {
  display: flex;
}

.tab_switch .tab_btn div {
  cursor: pointer;
}

.tab_switch .tab_content {
  position: relative;
}

.tab_switch .tab_content > div {
  position: absolute;
  visibility: hidden;
}

.tab_switch .tab_content > div.active {
  visibility: visible;
  position: relative;
}
